/* *Esto es del Inicio */
.headerI {
    background-image: url('../img/carrusel/banner1.png'); /* Actualiza esta ruta a la imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 254px; /* Ajusta la altura según sea necesario */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}

.headerI::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad del texto */
    z-index: 1;
}

.headerI-content {
    z-index: 2; /* Asegura que el contenido esté por encima de la sombra */
    color: white;
    text-align: center;
    width: 100%;
}

.headerI h1 {
    margin: 0;
    font-size: 2em;
    color: white;
}

.nav-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2em;
    z-index: 2; /* Asegura que los botones estén por encima de la sombra */
    cursor: pointer;
}

.left-button {
    margin-right: auto;
}

.right-button {
    margin-left: auto;
}

.sectionI-rooms {
    background-color: #E0E0E0; /* Fondo gris claro */
    padding: 20px; /* Espacio alrededor del contenido */
    text-align: center; /* Centra el texto horizontalmente */
    border-top: 2px solid #a0a0a0; /* Borde superior */
    border-bottom: 2px solid #a0a0a0; /* Borde inferior */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */
    margin: 0 auto; /* Centrar horizontalmente */
    width: auto; /* Ajusta el ancho según sea necesario */
    height: 68px;
}

.sectionI-title {
    width: auto;
    height: 52px;
    font-family: Judson;
    text-align: center;
    padding: 20px; /* Espacio alrededor del contenido */
    margin: 0;
    font-size: 2em;
    color: #060606;
}

.rooms-gridI {
    background-image: url('../img/estanteria.jpg'); /* Ruta a la imagen de fondo */
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px; /* Espacio entre los bloques */
}

.room-section-containerI {
    display: flex;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.room-image-containerI,
.room-details-containerI {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.room-image-containerI {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-containerI {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roomI-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-btnI {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 2;
}

.prev-btnI {
    left: 10px;
}

.next-btnI {
    right: 10px;
}

.carousel-dotsI {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.dotI {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.dotI.active {
    background-color: white;
}

.room-details-containerI {
    flex: 1;
}

.room-details-containerI h4 {
    margin: 0;
    font-size: 1.5em;
}

.room-details-containerI p {
    margin: 10px 0;
    font-size: 1em;
}
/* *Fin de lo del Inicio */

/*!Esto es del perfil */
.headerP {
    background-image: url('../img/banner.png'); /* Actualiza esta ruta a la imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 254px; /* Ajusta la altura según sea necesario */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.headerP::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad para mejor legibilidad */
    z-index: 1;
}

.headerP-content {
    display: flex;
    align-items: center;
    z-index: 2; /* Asegura que el contenido esté por encima de la sombra */
    width: 100%; /* Asegura que abarque todo el ancho del header */
    padding-left: 56px; /* Separación del borde izquierdo */
}

.avatar {
    width: 231px; /* Tamaño fijo del avatar */
    height: 224px; /* Tamaño fijo del avatar */
    border-radius: 50%; /* Hace el avatar circular */
    border: 1px solid white;
    margin-right: 107px; /* Separación entre el avatar y el texto */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsionarse */
}

.text-content {
    color: white; /* Asegura que el texto sea blanco */
    text-align: center;
}

.text-content h1 {
    font-family: Judson;
    width: 731px;
    height: 49px;
    margin: 0;
    font-size: 2em;
}

.text-content p {
    font-family: Judson;
    width: 738px;
    height: 52px;
    margin: 5px 0 0;
    font-size: 1.2em;
}

.owner-section {
    display: flex;
    padding: 20px;
}

.owner-info {
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: 5px solid black;
    width: 300px;
    margin-right: 28px;
}

.owner-info h3 {
    margin: 0 0 20px;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.owner-info p {
    margin: 10px 0;
    font-size: 1.1em;
}

.rooms-section {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.room {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.room-image {
    width: 234px;
    height: 141px; 
    height: auto;
    border-radius: 10px 20px 20px 10px; /* Esquinas específicas */
    box-shadow: 0 4px 8px rgba(206, 21, 21, 0.1); /* Sombra alrededor de la imagen */
    border: 6px solid black; /* Borde negro */
}

.room-details {
    padding: 10px;
}

.room-details h4 {
    margin: 0;
    font-size: 1.2em;
}

.room-details p {
    margin: 5px 0;
    font-size: 0.9em;
}
/* !Aqui termina lo del perfil */

/**Esto es de Publicar*/
.avatar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e0e0e0; /* Fondo gris claro */
    border: 5px dashed black; /* Línea de borde discontinua */
    padding: 20px;
    margin: 20px 0; /* Quita el margen lateral */
    width: auto;
    height: 254px; /* Ajusta la altura según sea necesario */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: Hug (231px); /* Ajusta el tamaño del avatar según sea necesario */
    height: Hug (231px);
    background-color: white; /* Fondo blanco */
    border: 2px solid black; /* Borde negro */
    border-radius: 50%; /* Hace el avatar circular */
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Hace la imagen circular */
}

.add-photo-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.add-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-photo h2 {
    font-weight: 400;
    line-height: 75px;
    text-align: center;
    font-family: Judson; /* Fuente */
    font-size: 50px; /* Tamaño del texto */
    margin: 10px 0; /* Espacio alrededor del texto */
}

.add-photo button {
    background-color: transparent;
    border: none;
    font-size: 100px; /* Tamaño de la cruz */
    cursor: pointer;
}

.data-section-wrapper {
    position: relative;
    width: 100%;
}

.data-section {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido al inicio del contenedor */
    margin: 20px;
    width: auto;
    height: auto; /* Ajusta la altura según sea necesario */
}

.data-container {
    width: 296px;
    height: 272px;
    background-color: #d3d3d3; /* Fondo gris */
    border: 3px solid #000; /* Borde negro */
    border-radius: 10px;
    padding: 20px;
    margin-left: 26px; /* Separación desde el borde izquierdo */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: left; /* Alineación del texto a la izquierda */
    width: 300px; /* Ajusta el tamaño según sea necesario */
}

.data-container h2 {
    font-size: 24px; /* Tamaño del texto */
    text-align: center;
    margin-bottom: 10px; /* Espacio debajo del título */
}

.data-container p {
    font-size: 16px; /* Tamaño del texto */
    margin: 5px 0; /* Espacio entre los párrafos */
}

.extra-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px; /* Separación desde el contenedor de datos */
}

.add-photo-box {
    width: 197px;
    height: 116px;
    border: 5px dashed #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px; /* Espacio entre el cuadro de agregar foto y el botón */
}

.add-photo-icon {
    font-size: 70px;
}

.save-button {
    background-color: #9191BD; /* Color de fondo del botón */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 122.95px;
    height: 46.26px;
}
/**Aqui termina Publicar*/

/*?Esto es de Acerca de */
.background-thanks {
    background-image: url('../img/cuarto.jpg'); /* Ruta a la imagen de fondo */
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 704px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks-container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    text-align: center;
}

.thanks-container h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text-info {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.text-info h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.text-info p {
    font-size: 1em;
    color: #666;
    margin: 5px 0;
}

.image-info {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-info img {
    max-width: 100%;
    border-radius: 10px;
}

.social-media-thanks {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.social-media-thanks a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.social-media-thanks a img:hover {
    transform: scale(1.1);
}
/*?Fin de Acerca de */

/* !Ventana Modal para Registrar Cuarto */
/* Desactivar desplazamiento del fondo */
.no-scroll {
    overflow: hidden;
}
/* Estilos del Modal */
.publicarModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.publicarModal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.publicarClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.publicarClose:hover,
.publicarClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;  /* Incluye el padding y el border en el ancho total */
}

.publicarModal-buttons {
    display: flex;
    justify-content: space-between;
}

.publicarCancel-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.publicarSave-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#imagePreview {
    width: 100px;
    height: 100px;
    display: none;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
/* Estilos del Modal de Imagen */
.imageModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.imageModalContent {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    max-width: 700px;
}

.imageModalClose {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.imageModalClose:hover,
.imageModalClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*! Fin del modal de registrar cuarto*/

/*? Estilos para el modal de edición de perfil */
.editProfileModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.editProfileModal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.editProfileClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.editProfileClose:hover,
.editProfileClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.editProfileModal-buttons {
    display: flex;
    justify-content: space-between;
}

.editProfileCancel-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.editProfileSave-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#avatarPreview,
#bannerPreview {
    width: 100px;
    height: 100px;
    display: none;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
/*? Fin del modal de editar perfil*/