/*Encabezado Propio del login*/
.headerR {
    background-color: #000;
    color: #fff;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: 150px; /* Ajusta la altura según sea necesario */
}

.headerR h1 {
    font-family: Judson;
    font-size: 70px;
    font-weight: 400;
    line-height: 105px;
    text-align: center;
    z-index: 1; /* Asegura que el texto esté encima del logo */
}

.header-logoR {
    position: absolute;
    bottom: -70px; /* Ajusta este valor según el tamaño del logo */
    left: 50%;
    transform: translateX(-50%);
    z-index: 0; /* Asegura que el logo esté debajo del texto */
}

.header-logoR img {
    width: 151px;
    height: 127px;
    top: 109px;
    left: 644px;
    gap: 0px;
    border-radius: 40px 0px 0px 0px;
    opacity: 0px;
}

/*Cuerpo del registro*/
.containerR {
    padding-top: 110px;
    padding-bottom: 30px;
    overflow: hidden;
}

.background-image {
    position: absolute; /* Posiciona la imagen de fondo de manera absoluta dentro del contenedor */
    width: 100%; /* Cubre todo el ancho */
    height: 60%; /* Cubre solo la mitad del contenedor */
    background: url('../img/cuarto.jpg') no-repeat center center; /* Imagen de fondo centrada */
    background-size: cover; /* La imagen de fondo cubre todo el área asignada */
    z-index: -1; /* Coloca la imagen detrás del contenido */
}

.login-box {
    width: 100%;
    max-width: 678px;
    width: 400px;
    height: 100%;
    max-height: 627px;
    height: 380px;
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 50px 139px 117px 139px;
    background-color: #D9D9D9; /* Color de fondo del contenedor para visibilidad */
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-box {
    width: 100%;
    max-width: 678px;
    width: 400px;
    height: 100%;
    min-height: 627px;
    height: 380px;
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 50px 139px 117px 139px;
    background-color: #D9D9D9; /* Color de fondo del contenedor para visibilidad */
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; /* Necesario para posicionar la alerta correctamente */
}

.login-box form, .register-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box label, .register-box label {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.01em;
    color: #000000;
    padding-bottom: 20px;
    text-align: center;
}

.login-box input, .register-box input, .login-box button, .register-box button {
    width: 100%; /* Asegura que el ancho sea el mismo para ambos */
    max-width: 400px;
    height: 40px;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    margin: 10px 0;
    border-radius: 8px;
}

.login-box input, .register-box input {
    padding-left: 10px;
    font-family: Inter;
    text-align: left;
    border: 1px solid #ccc;
    background: #FFFFFF;
}

.login-box button, .register-box button {
    font-family: Inter;
    text-align: center;
    border: 1px solid #a5a5d1;
    background: #9191BD;
    cursor: pointer;
    color: #FFFFFF; 
}

.login-box button:hover , .register-box  button:hover{
    background: #7878A5; /* Color más oscuro para el hover */
}

.login-box p , .register-box p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #000000;    
    margin: 10px 0;
}

.login-box a , .register-box a {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;    
    color: #6a5acd;
}

.checkbox-container {
    display: flex;
    align-items: center;
}
.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    /* Para cambiar el color del checkbox cuando esté seleccionado */
    &:checked + label {
        color: #4fb641;
    }
    cursor: pointer;
}

.checkbox-container label {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    font-family: Inter;
    letter-spacing: -0.01em;
    color: #000000;
    padding:10px;
}